html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  /* border: 1px solid red; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: orangered;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0px;
}

h1 {
  text-align: center;
  /* text-shadow: 0px 0px 5px black; */
  margin: 0px;
}

.sketch-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tile {
  flex: 1;
  background-color: silver;
  border: 1px solid lightgrey;
}

.tile.shaded {
  background-color: mediumslateblue;
}

.options-menu {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 0.5em;
}

.range-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options-menu button {
  height: 2em;
  width: 5em;
  background-color: white;
  border: 2px solid black;
  border-radius: 3px;
}

.options-menu button.on {
  background-color: silver;
  color: grey;
  border: 2px solid white;
}

.slider-value {
  margin: 0.5em;
}
