html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  /* border: 1px solid red; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: orangered;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0px;
}

h1 {
  text-align: center;
  /* text-shadow: 0px 0px 5px black; */
  margin: 10px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sketch-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 70vmin;
  border: 2px solid black;
}

.tile {
  flex: 1;
  background-color: silver;
  border: 1px solid lightgrey;
}

.tile.shaded {
  background-color: mediumslateblue;
}

.options-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1em 1em;
}

.range-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.options-menu button {
  height: 3em;
  width: 6em;
  background-color: white;
  border: 2px solid black;
  border-radius: 3px;
  margin: 1em;
}

.options-menu button.on {
  background-color: silver;
  color: grey;
  border: 2px solid white;
}

.slider-value {
  margin: 0.5em;
}

/* For larger screens */
@media only screen and (min-width: 768px) {
  .sketch-container {
    max-width: 70vmin;
  }
}

/* For smaller screens */
@media only screen and (max-width: 590px) {
  .buttons-container {
    display: flex;
    flex-direction: row;
  }
}
